.about {
  h1 {
    position: absolute;
    color: white;
    left: 50%;
    transform: translateX(-50%);
  }
  display: grid;
  border: 1px solid gray;
  grid-template-columns: 1fr 1fr;
  background-color: rgb(51, 45, 45);
  column-gap: 0px;
  height: 70vh;
  row-gap: 15px;
  overflow: hidden;
  .column {
    background: url("../imgs/About-img.jpg") rgba(0, 0, 0, 0.3);
    background-blend-mode: darken;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .column2 {
    text-align: center;
    margin-top: auto;
    color: rgb(253, 244, 244);
    margin-bottom: auto;
    padding: 35% 5%;
    h2 {
      font-size: 2rem;
    }
    p {
      font-size: 1.5rem;
    }
  }
  padding-top: 10vh;
}
