.contact {
  position: relative;
  height: 70vh;
  display: flex;
  justify-content: center;
  h1 {
    position: absolute;
    bottom: 100%;
    margin-top: 5vh;
    font-size: 3rem;
    opacity: 0.7;
  }
  div {
    padding-top: 15%;
    opacity: 0.9;
    overflow: hidden;
    img {
      width: 100%;
    }
    cursor: pointer;

    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    margin: 3%;
  }
}
