.footer {
  background-color: rgba($color: #4b3221, $alpha: 0.7);
  margin-top: 15vh;
  position: relative;
  width: 100%;
  bottom: 0%;
  height: 25vh;
  display: flex;
  align-items: center;
  color: white;
  font-size: 1.5rem;
  justify-content: space-evenly;
  img {
    width: 8rem;
    height: 10rem;
  }
}
