.home {
  min-height: 100vh;
  background: url("../imgs/home.jpg") rgba(0, 0, 0, 0.7);
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: darken;
  text-align: center;
  .home-logo {
    margin-top: 25vh;
  }
}
