.Navbar {
  //navbar style
  z-index: 2;
  display: flex;
  background-color: rgba($color: #4b3221, $alpha: 0.3);
  position: fixed;
  justify-content: center;
  align-items: center;
  width: 100%;
  img {
    margin-left: 1rem;
  }
  ul {
    margin-left: auto;
    margin-right: 12%;
    display: flex;
    li {
      font-family: "Courier New", Courier, monospace;
      color: white;
      list-style: none;
      margin: 4%;
      font-size: 0.9rem;
      cursor: pointer;
      a {
        text-decoration: none;
        color: white;
      }
      a:hover {
        color: rgb(192, 173, 173);
        border-bottom: 1px solid white;
      }
    }
  }
}
