.Offers {
  position: relative;
  display: flex;
  border: 1px solid gray;
  padding: 5%;
  justify-content: space-evenly;
  .offer-card {
    border-radius: 1rem;
    overflow: hidden;
    width: 18rem;
    border: 1px solid rgba($color: #000000, $alpha: 0.7);
    display: flex;
    flex-direction: column;
    text-align: center;
    .offer-coffee {
      width: 100%;
      background-size: cover;
    }
    p {
      font-size: 1rem;
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    }
    h3 {
      font-size: 1.5rem;
    }
    strong {
      padding: 15%;
      font-family: "Courier New", Courier, monospace;
    }
  }
}
