@import "./varibles";

.popular-coffee-container {
  padding: 5%;
  padding-top: 20vh;
  display: flex;
  justify-content: space-evenly;
  .popular-coffee-card {
    text-align: center;
    max-width: 20rem;
    .popular-coffee {
      border-radius: 50%;
      width: 10rem;
      height: 10rem;
    }
    .popular-coffee:hover {
      box-shadow: 0 0 12px 15px rgba($color: #4b3221, $alpha: 0.4);
      transform: rotate(360deg);
      transition: 1s;
    }
    h3 {
      font-family: $font-family;
      font-size: 2rem;
    }
    p {
      font-family: $font-family;
      font-size: 1.5rem;
    }
  }
}
