.Navbar {
  z-index: 2;
  display: flex;
  background-color: rgba(75, 50, 33, 0.3);
  position: fixed;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.Navbar img {
  margin-left: 1rem;
}
.Navbar ul {
  margin-left: auto;
  margin-right: 12%;
  display: flex;
}
.Navbar ul li {
  font-family: "Courier New", Courier, monospace;
  color: white;
  list-style: none;
  margin: 4%;
  font-size: 0.9rem;
  cursor: pointer;
}
.Navbar ul li a {
  text-decoration: none;
  color: white;
}
.Navbar ul li a:hover {
  color: rgb(192, 173, 173);
  border-bottom: 1px solid white;
}

.home {
  min-height: 100vh;
  background: url("../imgs/home.jpg") rgba(0, 0, 0, 0.7);
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: darken;
  text-align: center;
}
.home .home-logo {
  margin-top: 25vh;
}

.popular-coffee-container {
  padding: 5%;
  padding-top: 20vh;
  display: flex;
  justify-content: space-evenly;
}
.popular-coffee-container .popular-coffee-card {
  text-align: center;
  max-width: 20rem;
}
.popular-coffee-container .popular-coffee-card .popular-coffee {
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
}
.popular-coffee-container .popular-coffee-card .popular-coffee:hover {
  box-shadow: 0 0 12px 15px rgba(75, 50, 33, 0.4);
  transform: rotate(360deg);
  transition: 1s;
}
.popular-coffee-container .popular-coffee-card h3 {
  font-family: "Parisienne", cursive;
  font-size: 2rem;
}
.popular-coffee-container .popular-coffee-card p {
  font-family: "Parisienne", cursive;
  font-size: 1.5rem;
}

.Offers {
  position: relative;
  display: flex;
  border: 1px solid gray;
  padding: 5%;
  justify-content: space-evenly;
}
.Offers .offer-card {
  border-radius: 1rem;
  overflow: hidden;
  width: 18rem;
  border: 1px solid rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  text-align: center;
}
.Offers .offer-card .offer-coffee {
  width: 100%;
  background-size: cover;
}
.Offers .offer-card p {
  font-size: 1rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.Offers .offer-card h3 {
  font-size: 1.5rem;
}
.Offers .offer-card strong {
  padding: 15%;
  font-family: "Courier New", Courier, monospace;
}

.Location {
  padding: 5% 5%;
}
.Location img {
  width: 100%;
  box-shadow: 0 0 8px 5px rgba(128, 128, 128, 0.5);
  border-radius: 2rem;
}

.contact {
  position: relative;
  height: 70vh;
  display: flex;
  justify-content: center;
}
.contact h1 {
  position: absolute;
  bottom: 100%;
  margin-top: 5vh;
  font-size: 3rem;
  opacity: 0.7;
}
.contact div {
  padding-top: 15%;
  opacity: 0.9;
  overflow: hidden;
  cursor: pointer;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  margin: 3%;
}
.contact div img {
  width: 100%;
}

.about {
  display: grid;
  border: 1px solid gray;
  grid-template-columns: 1fr 1fr;
  background-color: rgb(51, 45, 45);
  -moz-column-gap: 0px;
       column-gap: 0px;
  height: 70vh;
  row-gap: 15px;
  overflow: hidden;
  padding-top: 10vh;
}
.about h1 {
  position: absolute;
  color: white;
  left: 50%;
  transform: translateX(-50%);
}
.about .column {
  background: url("../imgs/About-img.jpg") rgba(0, 0, 0, 0.3);
  background-blend-mode: darken;
  background-size: cover;
  background-repeat: no-repeat;
}
.about .column2 {
  text-align: center;
  margin-top: auto;
  color: rgb(253, 244, 244);
  margin-bottom: auto;
  padding: 35% 5%;
}
.about .column2 h2 {
  font-size: 2rem;
}
.about .column2 p {
  font-size: 1.5rem;
}

.footer {
  background-color: rgba(75, 50, 33, 0.7);
  margin-top: 15vh;
  position: relative;
  width: 100%;
  bottom: 0%;
  height: 25vh;
  display: flex;
  align-items: center;
  color: white;
  font-size: 1.5rem;
  justify-content: space-evenly;
}
.footer img {
  width: 8rem;
  height: 10rem;
}

body {
  font-family: "Parisienne", cursive;
  margin: 0%;
  padding: 0%;
  text-align: center;
}

.Greet-text {
  font-size: 2rem;
}

html {
  scroll-behavior: smooth;
}/*# sourceMappingURL=main.css.map */