@import "./Navbar", "./Home", "./Popular", "./Offer", "./Location", "./Contact",
  "./about", "./Footer";

body {
  font-family: $font-family;
  margin: 0%;
  padding: 0%;
  text-align: center;
}
.Greet-text {
  font-size: 2rem;
}
html {
  scroll-behavior: smooth;
}
